<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fproject.app.mybatis.mapper.FriendsMapper"> 
	<select id="list" resultType="hashmap" parameterType="hashmap">
		select * from friendlist f,profiles p where p.name like '%'||#{friname}||'%' and f.num=#{num} and f.fnum=p.num
	</select>
	<select id="friprofile" resultType="hashmap" parameterType="hashmap">
		select * from friendlist f,profiles p where  f.num=#{num} and f.fnum=#{fnum} and p.num=#{fnum}
	</select>
	<update id="favo" parameterType="hashmap" >
		update friendlist set favo=1 where num=#{num} and fnum=#{fnum}
	</update>
	<update id="unfavo" parameterType="hashmap" >
		update friendlist set favo=0 where num=#{num} and fnum=#{fnum}
	</update>
</mapper>