<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fproject.app.mybatis.mapper.FriendsMapper"> 
	<select id="list" resultType="hashmap" parameterType="hashmap">
		select * from friendlist f,profiles p where p.name like '%'||#{friname}||'%' and f.num=#{num} and f.fnum=p.num
	</select>
	<select id="friprofile" resultType="hashmap" parameterType="hashmap">
		select * from friendlist f,profiles p where  f.num=#{num} and f.fnum=#{fnum} and p.num=#{fnum}
	</select>
	<select id="mempro" resultType="hashmap" parameterType="int">
		select * from account a,profiles p where a.num=#{num} and p.num=#{num}
	</select>
	<update id="favo" parameterType="hashmap" >
		update friendlist set favo=1 where num=#{num} and fnum=#{fnum}
	</update>
	<update id="unfavo" parameterType="hashmap" >
		update friendlist set favo=0 where num=#{num} and fnum=#{fnum}
	</update>
	<select id="searchId" resultType="hashmap" parameterType="hashmap">
		select * from friendlist f,profiles p ,(select num from account where id=#{id}) a where f.num=#{num} and f.fnum=a.num and p.num=a.num
	</select>
	<insert id="addfri" parameterType="fproject.app.fproject.vo.FriendlistVo">
		insert into friendlist values(#{num},#{fnum},#{favo},#{spam},#{approv})
	</insert>
	<update id="setnewfri" >
		update friendlist set approv=1
	</update>
	<select id="favorfri" parameterType="int" resultType="hashmap">
		select * from friendlist f,profiles p where f.num=#{num} and p.num=fnum and favo =1 
	</select>
</mapper>