<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fproject.app.mybatis.mapper.MemberMapper">

<insert id="insert" parameterType="fproject.app.fproject.vo.AccountVo">
	insert into Account values(SEQ_num.nextval, #{id}, #{pwd})
</insert>

<select id="getUserProfileInfo" parameterType="int" resultType="fproject.app.fproject.vo.ProfilesVo">
	select * from profiles where num=#{num}
</select>

<select id="getUserAccountInfo" parameterType="String" resultType="fproject.app.fproject.vo.AccountVo">
	select * from account where id=#{id}
</select>

<select id="isMember" parameterType="fproject.app.fproject.vo.AccountVo" resultType="fproject.app.fproject.vo.AccountVo">
		select * from account where id=#{id} and pwd=#{pwd}
</select>

</mapper>