<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fproject.app.mybatis.mapper.ProfilesMapper"> 
	<select id="info" resultType="fproject.app.fproject.vo.ProfilesVo" parameterType="int">
		select * from profiles where num=#{num}
	</select>
	
</mapper>