<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fproject.app.mybatis.mapper.ProfilesMapper"> 
	<select id="info" resultType="fproject.app.fproject.vo.ProfilesVo" parameterType="int">
		select * from profiles where num=#{num}
	</select>
	<insert id="insert" parameterType="fproject.app.fproject.vo.ProfilesVo">
		insert into profiles values(#{num}, #{name}, #{phone}, #{email}, #{birth}, 'baf0bdfe-420e-47d4-8122-0cc0662c524c_기본프로필.jpeg', 'c3716c97-0f26-400b-a3e8-c089ac64c169_기본배경.jpg', '')
	</insert>
	<update id="updateProfImg" parameterType="fproject.app.fproject.vo.ProfilesVo">
		update profiles 
		set profileimg=#{profileimg}
		where num=#{num}
	</update>
	<update id="updateBackimg" parameterType="fproject.app.fproject.vo.ProfilesVo">
		update profiles 
		set backimg=#{backimg}
		where num=#{num}
	</update>
	<update id="updateName" parameterType="fproject.app.fproject.vo.ProfilesVo">
		update profiles 
		set name=#{name}
		where num=#{num}
	</update>
	<update id="update" parameterType="fproject.app.fproject.vo.ProfilesVo">
		update profiles 
		set phone=#{phone},email=#{email},birth=#{birth}
		where num=#{num}
	</update>
</mapper>