<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="fproject.app.mybatis.mapper.PurchaseMapper">
	<insert id="insert" parameterType="fproject.app.fproject.vo.PurchaseVo">
		insert into purchase values(SEQ_Purchasenum.nextval, sysdate, #{emognum}, #{num})
	</insert>
	<select id="selectPopulEmoList" resultType="fproject.app.fproject.vo.EmoticongroupVo">
		select * from (select emognum, count(*) num from purchase group by emognum order by num desc) where rownum <![CDATA[<=]]> 10
	</select>
	
	<select id="selectPopulEmoListTotalCount" resultType="int">
		select count(count(emognum)) count from purchase group by emognum
	</select>
	
	<select id="selectPopulEmoPagingList" parameterType="hashmap" resultType="fproject.app.fproject.vo.EmoticongroupVo">
		select b.emognum, b.num
		from
    		(select rownum rnum, a.emognum, a.num
    		from
        		(select emognum, count(*) num
        		from purchase
        		group by emognum
        		order by num desc) a
    		where rownum <![CDATA[<=]]> #{endRow}) b
		where b.rnum <![CDATA[>=]]> #{startRow}
	</select>
	
</mapper>