<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fproject.app.mybatis.mapper.StoryMapper"> 
	<!--  parameterType="int" -->

<!-- <select id="list" resultType="hashmap" parameterType="int">
		select s.*,a.* from story s left outer join account a on s.num=a.num 
		where s.num=#{num} order by sregdate desc
	</select> -->
	
	<select id="list" resultType="fproject.app.fproject.vo.StoryVo" parameterType="int">
		select s.* from story s, account a
		where s.num=#{num} and s.num=a.num order by sregdate desc
	</select>
	<select id="info" resultType="fproject.app.fproject.vo.StoryVo" parameterType="int">
		select s.* from story s, account a
		where s.storynum=#{storynum} and s.num=a.num
	</select>
	
	<insert id="insert" parameterType="fproject.app.fproject.vo.StoryVo">
        insert into story values
        (SEQ_storynum.nextval,#{num},#{stitle},#{scontent},sysdate,#{orgimg},#{saveimg},#{imgsize},0,0)	
	</insert>
	
	<update id="update" parameterType="fproject.app.fproject.vo.StoryVo">
		update(
			select s.stitle,s.scontent,s.orgimg,s.saveimg,s.imgsize								
			from story s,account a
			where s.storynum=#{storynum} and s.num=a.num
		)set 
			stitle=#{stitle},
			scontent=#{scontent}
			<if test="orgimg!=null">,
				orgimg=#{orgimg},saveimg=#{saveimg},imgsize=#{imgsize}
			</if>
	</update>
	
	<delete id="delete" parameterType="int">
		delete from story where storynum=#{storynum}
	</delete>
	<update id="upcount" parameterType="int">
		update story set count=count+1 where storynum=#{storynum}
	</update>
	
	
	
</mapper>