.rui_title_2 .title_text [class*=" icon-"],
.rui_title_2 .title_text [class^=icon-] {
 color:#c5c5c5;
 font-size:20px;
 vertical-align:-12%;
 padding-right:5px
}
.rui_title_3 [class*=" icon-"],
.rui_title_3 [class^=icon-] {
 padding-right:4px;
 font-size:20px;
 vertical-align:-7%;
 color:#1f8ce6
}
.book_macro_landscape .table_cell_wrapper .table_wrapper {
 display:table;
 width:100%
}
.book_macro_landscape .table_cell_wrapper .table_wrapper .book_metadata_wrapper {
 padding:0 8px 15px 15px
}
.book_macro_landscape .table_cell_wrapper .table_wrapper .book_price_wrapper {
 display:table-cell;
 vertical-align:middle
}
.rui_table_wrapper {
 position:relative;
 cursor:default;
 display:table;
 width:100%
}
.rui_table_wrapper .left_column,
.rui_table_wrapper .right_column {
 display:table-cell;
 vertical-align:middle
}
.rui_table_wrapper .left_column>div,
.rui_table_wrapper .right_column>div {
 display:inline-block;
 vertical-align:middle
}
.rui_table_wrapper .right_column {
 text-align:right
}
.module_list_handler {
 clear:both;
 display:table;
 padding:15px 0;
 width:100%;
 box-sizing:border-box
}
.module_list_handler .total_checkbox {
 display:table-cell;
 vertical-align:middle;
 font-size:13px;
 font-weight:700;
 color:#636c73
}
.module_list_handler .total_checkbox input {
 margin-right:7px
}
.module_list_handler .buttons_wrapper {
 display:table-cell;
 vertical-align:middle;
 text-align:right
}
.module_list_handler .buttons_wrapper .handling_button {
 padding:7px
}
.book_thumbnail_wrapper .book_thumbnail {
 display:inline-block;
 position:relative;
 height:auto
}
.book_thumbnail_wrapper .book_thumbnail .thumbnail_checkbox {
 display:block;
 position:absolute;
 left:-22px;
 top:10px
}
.book_thumbnail_wrapper .book_thumbnail.selected .thumbnail_image .image_border {
 border:2px solid #1f8ce6;
 opacity:1
}
.book_thumbnail_wrapper .book_thumbnail .border {
 box-sizing:border-box;
 opacity:.1;
 display:block;
 width:100%;
 height:100%;
 position:absolute;
 left:0;
 top:0;
 z-index:3;
 border:1px solid #000
}
.book_thumbnail_wrapper .book_thumbnail .thumbnail_image {
 display:block;
 width:100%;
 height:100%;
 position:relative;
 background:#d9d9d9
}
.book_thumbnail_wrapper .book_thumbnail .thumbnail_image .thumbnail {
 width:100%
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .thumbnail_image .thumbnail {
 width:60px;
 max-height:87px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_discount {
 width:32px;
 height:32px;
 background:#70808f;
 border:solid 1px rgba(0,0,0,.15);
 border-radius:32px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_discount .discount_num {
 width:32px;
 margin-left:-16px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_discount .discount_num .num {
 font-size:12px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_discount .discount_num .percent {
 font-size:10px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_free_book_count {
 position:absolute;
 bottom:0;
 right:0;
 height:14px;
 border:1px solid rgba(255,255,255,.4);
 border-right:0;
 border-bottom:0;
 opacity:.9;
 background:rgba(0,0,0,.7);
 border-radius:3px 0 0 0;
 padding:7px 6px 5px 6px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_free_book_count .free_num {
 color:#fff;
 font-weight:700;
 font-size:12px;
 z-index:3;
 line-height:12px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_new_release,
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_rental {
 width:32px;
 height:32px;
 background:#1abc9c;
 border:1px solid #15967d;
 border-radius:32px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_new_release .new_text,
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_rental .new_text {
 width:32px;
 height:1em;
 margin-top:-.5em;
 margin-left:-16px;
 line-height:1em;
 font-size:10px;
 letter-spacing:-.07em
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_new_release .free_num,
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_rental .free_num {
 width:32px;
 height:2.4em;
 margin-top:-1.1em;
 margin-left:-16px;
 line-height:1.2em;
 font-size:10px;
 letter-spacing:-.07em
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_new_release .free_num .num,
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_rental .free_num .num {
 font-size:12px;
 vertical-align:-5%
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_new_release .rental_text,
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_rental .rental_text {
 width:32px;
 height:1em;
 margin-top:-.5em;
 margin-left:-16px;
 line-height:1em;
 font-size:12px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .badge_adult {
 width:15px;
 height:15px;
 top:2px;
 right:2px;
 background:url(../images/book_cover/badge_adult.png) no-repeat left top;
 background-size:15px 15px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .set_book .set_text_wrapper {
 width:62px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .set_book .set_text_wrapper .set_text {
 font-size:11px;
 padding:4px 5px
}
.book_macro_60 .book_thumbnail_wrapper .book_thumbnail .book_status .status_text {
 padding:3px;
 font-size:10px
}
.book_macro_60 .book_metadata_wrapper .meta_title {
 margin-top:.2em;
 font-size:13px
}
.book_macro_60 .book_metadata_wrapper .meta_title .title_link .title_tag,
.book_macro_60 .book_metadata_wrapper .meta_title .title_link .title_text {
 font-size:13px;
 color:#000;
 font-weight:700
}
.book_macro_60 .book_metadata_wrapper .author a {
 font-size:12px
}
.book_macro_60 .book_thumbnail_wrapper {
 width:60px
}
.book_macro_60.book_macro_landscape .book_thumbnail_wrapper {
 padding:15px 0 15px 8px
}
.book_macro_60.book_macro_landscape .book_metadata_wrapper {
 padding:15px 8px 15px 15px
}
.book_macro_60.book_macro_portrait .book_thumbnail_wrapper {
 height:87px
}
.book_macro_60.book_macro_portrait .book_metadata_wrapper {
 width:60px
}
.book_metadata_wrapper .author {
 font-size:12px;
 color:#666;
 font-weight:400;
 line-height:1.2em;
 word-break:break-all;
 line-height:1.5em
}
.book_metadata_wrapper .author .title_point {
 font-weight:700;
 color:#333
}
.book_metadata_wrapper .author a,
.book_metadata_wrapper .author span {
 font-size:12px;
 color:#666;
 font-weight:400;
 line-height:1.2em;
 word-break:break-all
}
ul {
  list-style:none;
  padding-left:0px;
}
li {
  float:left;
}
a {
  text-decoration: none;
}